/*-----Font------*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*-----Special margins/padding/text/colour------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Kumb Sans", sans-serif;
    font-size: 12px;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,hsl(273, 75%, 66%) , hsl(240, 73%, 65%));
    overflow: hidden;
}

/*-------FAQ Card------*/

main {
   background-color: #fff;
   border-radius: 15px;
   width: 900px;
   height: 450px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
   margin: auto;
   box-shadow: 0 1px 50px -15px;
}

.content {
    position: relative;
    left: 50%;
    width: 450px;
    word-wrap: break-word;
}

/*-----Footer------*/

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}